.Content_wrap {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.FormTitle {
    font-size: 1.5em;
  }
  
  .FormInput {
      display: block;
      font-family: inherit;
      font-size: 1.1em;
      margin: 35px 0;
      width: 100%;
      height: 40px;
      border: none;
      border-bottom: 1.2px solid #498DDD;
      transition: all .2s ease;
    }
    .FormInput:hover ,
    .FormInput:focus {
      outline: none;
      border-bottom: 3.2px solid #498DDD; 
    }
    
    .FormInput::placeholder {
      font-size: 1.1em;
      color: #8a8a8a;
      letter-spacing: 1.2px;
    }
    
    .BtnWrap {
      display: flex;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 2.5em;
      justify-content: space-around;
      height: 40px;
    }
    
    .FormBtn,
    .FormBtn_Cancel {
      width: 100px;
      padding: 12px 0;
      border: none;
      margin: 0 10px;
      
      color: #498ddd;
      background: #fff;
      /* SmoothShadow */
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.1);
      border-radius: 16px;
    }

    .FormBtn:hover,
    .FormBtn:active,
    .FormBtn:focus {
      color: #fff;
      background: #498DDD;
      /* border: 1px solid #498DDD; */
      transition: background .3s ease;

    }
    
    .FormBtn_Cancel {
      color: #7E7E7E;
      background: #EAEAEA;
      transition: background .3s ease;
    }
      .FormBtn_Cancel:hover,
      .FormBtn_Cancel:active,
      .FormBtn_Cancel:focus        {
        color: #fff;
        background: rgb(221, 73, 73);
      }

      .FormBtn_delete {
        display: block;
        text-align: center;
        width: 100px;
        padding: 12px 0;
        border: none;
        margin: 0 auto;
        color: rgb(221, 73, 73);
        background: #fff;
        /* SmoothShadow */
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        transition: background .3s ease;
      }

        .FormBtn_delete:hover,
        .FormBtn_delete:active,
        .FormBtn_delete:focus {
          color: #fff;
          background: rgb(221, 73, 73);
        }

    .JobCard {
        display: block;
        padding: 25px 35px;
        height: fit-content;
        margin-top: 5%;
        width: 80vw;
    
        text-align: left;
        background: #FFFFFF;
        border: 0.2px solid #ADADAD;
        box-sizing: border-box;
        /* SmoothShadow */
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 
                    0px 4px 4px rgba(0, 0, 0, 0.12), 
                    0px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 11px;
      }
    
    