.MenuBar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 56px;
    background: #498DDD;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.1);
}
  
.MenuBtn,
.MenuBtn_open {
    position: absolute;
    padding: 0;
    background: #498DDD;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    left: 3%;
    top: 50%;
    transform: translate(-5%, -50%);
    transition: all;
}
  
.MenuTitle{
    text-align: center;
    color: #fff;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    letter-spacing: 2.5px;
    line-height: 27px;
}
  
.MenuBar_line {
    margin: 5px;
    background: #fff;
    height: 3px;
    width: 30px;
    border-radius: 5px;
}

.MenuBtn div {
    transition: all .3s ease;
}

.MenuBtn_open div:nth-child(1) {
    transition: transform .3s ease;
    transform-origin: 0 50%;
    transform: rotate(45deg);
}
.MenuBtn_open div:nth-child(2) {
    opacity: 0;    
    transition: opacity .3s ease;

}
.MenuBtn_open div:nth-child(3) {
    transform-origin: 25% 50%;
    transform: rotate(-45deg);
    transition: transform .3s ease;
}